build --define=RULES_SWIFT_BUILD_DUMMY_WORKER=1
build --strategy=SwiftCompile=sandboxed,local

build --apple_crosstool_top=@apple_cross_toolchain//:toolchain
build --incompatible_strict_action_env
build --subcommands
build --use_top_level_targets_for_symlinks
build --verbose_failures
build --xcode_version_config=//xcode_config:host_xcodes

build:remote --bes_backend=grpcs://cloud.buildbuddy.io
build:remote --bes_results_url=https://app.buildbuddy.io/invocation/
build:remote --host_platform=//platforms:docker_image_platform
build:remote --jobs=100
build:remote --remote_download_toplevel
build:remote --remote_executor=grpcs://cloud.buildbuddy.io
build:remote --remote_timeout=3600
build:remote --strategy=SwiftCompile=remote,sandboxed,worker,local
build:remote --tls_client_certificate=buildbuddy-cert.pem
build:remote --tls_client_key=buildbuddy-key.pem
